<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="main">
            <directory>./test</directory>
            <exclude>./test/pdo/UtilMySqlTest.php</exclude>
            <exclude>./test/app/ServicesBasicMySqlTest.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
       <whitelist processUncoveredFilesFromWhitelist="true">
	    <directory suffix=".php">./src</directory>
       </whitelist>
    </filter>
</phpunit>
